<div class="container_new_email">
  <div class="header-new_email bg-dark text-white d-flex px-2 justify-content-between align-items-center">
    <p>New Email</p>
    <button class="btn btn-primary compose_mail_close" type="button" (click)="closeNewEmail()">
      <img class="icon_close" src="../../../../assets/icons/icon-times-solid.svg" alt="icon_close" width="15px"
        height="15px">
    </button>
  </div>
  <div class="new_email_to mt-2">
    <span class="form-control">
      <input type="text" class="form-control" placeholder="To" />
      <input type="file" accept=".xlsx">
    </span>
  </div>
  <div class="subject_new_email form-control mt-2">
    <input type="text" class="form-control" placeholder="Subject" />
  </div>
  <div class="container_content mt-2">
    <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
  </div>
</div>
