.compose_mail_close{
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 14px;
  border-radius: 2px;
  background-color: rgb(255 255 255 / 0%);
}
.icon_close{
  color: red;
}
.style_quill{
  width: 100%;
  border-radius: 0.375rem
}
